# Application
web/app/mu-plugins/*/
web/app/upgrade
web/app/uploads/cache/*
web/app/uploads/
!web/app/uploads/wpallexport
!web/app/uploads/wpallimport

# WordPress
web/wp
web/.htaccess

# Logs
*.log

# Dotenv
.env
.env.*
!.env.example

# Composer
/vendor

# WP-CLI
wp-cli.local.yml

#IDE
.idea
.vscode
/db/staging/
/db/local/

/wordpress/wp-config.php